<div>
    <div style="border: 1px solid grey; height: 400px; width: 800px; padding: 10px">
        <% @messages.each do |message|%>
            <p><strong><%= message.user.username %>: </strong><%= message.body %></p>
        <% end %>
    </div>
    <% if logged_in %>
        <%= form_with(scope: :message, local: true, url: messages_path) do |f| %>
            <%= f.text_field :body, placeholder: "Enter a message..." %>
            <%= f.submit "Send" %>
        <% end %>
    <% else %>
        <%= link_to "Want to join the chat?", login_path %>
    <% end %>
</div>


